/* General styles for whole page*/
* {
  padding: 0;
  margin: 0;
  font-family: Open Sans;
  font-weight: 900;
}

.image-link {
  width:100%;
  height:100%;
}

.break {
  width: 80%;
  margin: auto;
  color: #f5f5f5;
}

.fill {
  width: 100%;
  height: 100%;
}

/* Main page */
#particles-js {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: #2b2d36;
  pointer-events: none;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro h1 {
  color: #fff;
  font-weight: 100;
  font-size: 4rem;
  text-align: center;
}

.name {
  color: #92A8D1;
}

/* button */
.wrapper a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 14rem;
  height: 3.25rem;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all .5s;
  border: 2px solid #fff;
  margin-top: 1.5rem;
}

.wrapper a:hover{
  width: 11rem;
  height: 3rem;
  border: 3px solid #92A8D1;
  color: #92A8D1;
}

/* Navbar */
#navbar {
  background: #25252e;
  width: 95%;
  padding-left: 5%;
  z-index: 900;
  position: sticky;
  top: 0;
  height: 60px;
}

.item {
  color: #fff;
  font-size: 1.15rem;
  text-decoration: none;
  text-align: center;
  transition: .5s;
  display: block;
  float: left;
  width: 10%;
  margin: 1rem 0;
}

.item:hover {
  color: #92A8D1;
}

/* General styles for each section */
.section {
  width: 100%;
  padding-bottom: 5rem;
}

.header {
  padding: 12vh 0 2vh 0;
  padding: calc(var(--vh, 1vh) * 12) 0 calc(var(--vh, 1vh) * 2) 0;
  display: table;
  width: 100%;
  background-image: linear-gradient(#2b2d36,#2b2d36);
  background-size: 65px 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 7vh;
  margin-bottom: calc(var(--vh, 1vh) * 7);
}

.header h1 {
  display: table-cell;
  text-align: center;
  color: #2b2d36;
  vertical-align: middle;
}

/* about section */
#about {
  overflow: hidden;
}

.certifications {
  width: 75%;
  margin: auto;
  display: flex;
  list-style: none;
}

.certification {
  width: 33.333%;
  text-align: center;
}

.about-certification {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}

.about-certification h2 {
  padding: .25rem 0;
  color: #2b2d36;
}

.about-certification p {
  padding-bottom: 1.5rem;
  color: #2b2d36;
  font-size: 1rem;
}

.hexagon {
  position: relative;
  height: 11rem;
  width: 11rem;
  background: #25252e;
  margin: auto;
}

.big {
  height: 18rem;
  width: 18rem;
}

.hexagon:before, .double:after {
  position: absolute;
  content: '';
}

.hexagon, .hexagon:before, .double:after {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  -webkit-clip-path:polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.hexagon:before {
  top: 6px;
  left: 6px;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background: #fff;
}

.double:after {
  top: 10px;
  left: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  background: #25252e;
  color: #92A8D1;
  line-height: 9.5rem;
  font-size: 5.75rem;
  font-family: FontAwesome;
}

.education:after {
  content: "\f19d";
}

.hobbies:after{
  content:"\f007";
}

.team:after {
  content:"\f0c0";
}

.pic:after {
  background-image: url(images/IMG_0058.PNG);
  background-position: cover;
  background-size: 100%;
}

.about-general {
  width: 100%;
  margin-top: 1rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.about-me {
  width: 40%;
  margin-top: 3rem;
}

.caption {
  width: 75%;
  font-size: 1rem;
  margin: 1.5rem auto;
  text-align: center;
  color: #25252e;
}

.about-skills {
  width: 40%;
}

.about-skills-headers {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
}

.tab-header {
  width: 27.5%;
  text-align: center;
  padding: 15px 0;
  font-size: 1rem;
  list-style-type: none;
}

.tab-header a {
  text-decoration: none;
  color: #25252e;
}

.languages-tab {
  position: relative;
}

.tab {
  width: 100%;
}

.software {
  display: none;
}

.version-control {
  display: none;
}

.wee {
  height: .25rem;
  width: 50%;
  margin: 0 25%;
  background-color: #92A8D1;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.75s;
}

.skill-box {
  display: flex;
  margin: 1.5% 0;
  height: 30px;
}

.skill {
  width: 20%;
  background: #25252e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.level {
  width: 80%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.level p {
  color: #92A8D1;
  padding-right: 2.5px;
}

.ninety {
  background: linear-gradient(to right, #92A8D1 87.5%, #f5f5f5 12.5%);
}

.eighty {
  background: linear-gradient(to right, #92A8D1 80%, #f5f5f5 20%);
}

.seventy {
  background: linear-gradient(to right, #92A8D1 70%, #f5f5f5 30%);
}

.sixty {
  background: linear-gradient(to right, #92A8D1 60%, #f5f5f5 40%);
}

.fifty {
  background: linear-gradient(to right, #92A8D1 50%, #f5f5f5 50%);
}

/* projects section */
#projects {
  background: #f5f5f5;
}

.projects-general {
  width: 67.5vw;
  margin: auto;
}

.projects {
  width: 100%;
  list-style: none;
  overflow: hidden;
}

.project {
  width: 22.5vw;
  height: 22.5vw;
  list-style: none;
  float: left;
}

.project img {
  width: 100%;
  background-size: cover;
}

.fa-times {
  position: absolute;
  text-align: center;
  padding: .15rem .35rem;
  bottom: 1rem;
  right: 1.25rem;
  font-size: 1.5rem;
  color: #fff;
}

.break-project {
  width: 50%;
  position: absolute;
  left: 1.5rem;
}

.project-display {
  display: none;
  background: #2b2d36;
  z-index: 900;
  width: 65%;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  overflow: hidden;
}

.project-display img {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.project-header {
  padding: 1rem 1.5rem;
  width: 100%;
  color: #fff;
  font-size: 1.75rem;
}

.project-display img {
  max-height: 70%;
  width: 100%;
}

.project-description {
  font-size: .85rem;
  width: 75%;
  padding: 1rem 1.5rem;
  z-index: 901;
  color: #fff;
}

/* Page Break */
.page-break {
    height: 7rem;
    display: flex;
    background: #2b2d36;
}

.angle {
  width: 100%;
  background: #f5f5f5;
  clip-path: polygon(50% 100%, -5% -5%, 105% -5%);
  -webkit-clip-path: polygon(50% 100%, -5% -5%, 105% -5%);
}

/* contact section */
#contact {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: #2b2d36;
}

#contact .header {
  background-image: linear-gradient(#fff,#fff);
  background-size: 65px 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 7vh;
  margin-bottom: calc(var(--vh, 1vh) * 7);
}

#contact h1 {
   color: #fff;
}

#contact .header-two {
  width: 100%;
  display: table;
}

#contact h2 {
  display: table-cell;
  text-align: center;
  color: #fff;
  height: 10vh;
  height: calc(var(--vh, 1vh) * 10);
}

#contact form {
  width: 40%;
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  text-align: center;
  margin: auto;
}

#contact form input {
  width: 100%;
  margin: auto;
  padding-left: 5px;
  border: none;
  background: #f5f5f5;
}

#contact form .first {
  height: 5vh;
  height: calc(var(--vh, 1vh) * 5);
  border-radius: 5px;
  margin: .2rem 0;
}

#contact form .message {
  border-radius: 5px;
  height: 35vh;
  height: calc(var(--vh, 1vh) * 35);
  width: 100%;
  text-align: top left;
  background: #f5f5f5;
  border: none;
  padding-top: 8px;
  padding-left: 6px;
  resize: vertical;

}

#contact form .button{
  float: right;
  height: 3rem;
  width: 10vw;
  border-radius: 2px;
  background: transparent;
  border: 3px solid #fff;
  color: #fff;
  text-transform: uppercase;
  transition: .5s;
}

#contact form .button:hover{
  width: 9.5vw;
  height: 3rem;
  border: 3px solid #92A8D1;
  color: #92A8D1;
}

/* footer section */
.footer {
  width: 100%;
  height: 35vh;
  height: calc(var(--vh, 1vh) * 35);
  background: #25252e;
  position: relative;
}

.reset {
  position: absolute;
  background: #fff;
  height: 2rem;
  width: 2rem;
  top: -1rem;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
}

.reset a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.reset i {
  position: absolute;
  color: #92A8D1;
  padding: 8px 9.5px;
}

.all-socials {
  padding-top: 12vh;
  padding-top: calc(var(--vh, 1vh) * 12);
  width: 100%;
  display: flex;
  justify-content: center;
}

.social {
  width: 4.25rem;
  height: 4.25rem;
  background: #f5f5f5;
  margin: 0 2%;
  text-align: center;
  border-radius: 50%;
}

.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.social i{
  margin-top: .8rem;
  color: #92A8D1;
  font-size: 2.5rem;
}

.trademark {
  width: 100%;
  text-align: center;
}

.trademark p {
  margin-top: 3vh;
  margin-top: calc(var(--vh, 1vh) * 3);
  color: #f5f5f5;
}

.trademark p span {
  color: #92A8D1;
}

/* Make Responsive for tablets*/
@media screen and (max-width: 1100px) {
  #navbar a {
    font-size: 1rem;
    width: 12.5%;
    margin: 1.3rem  0;
  }

  .about-general {
    flex-direction: column;
  }

  .about-me {
    width: 100%;
  }

  .about-skills {
    width: 80%;
    margin: auto;
  }
}

/* Make Responsive for phones*/
@media screen and (max-width: 750px) {
  #navbar {
    width: 90%;
    padding: 0 5%;
  }

  #navbar a {
    width: 25%;
  }

  .projects-general {
    width: 100%;
  }

  .project {
    width: 50vw;
    height: 50vw;
  }

  .project-display {
    width: 90%;
  }

  .five {
    transform: translateX(50%);
  }

  #contact form {
    width: 75%;
  }

  #contact form .button{
    width: 25vw;
  }

}

/* Make Responsive for standard phone*/
@media screen and (max-width: 600px) {
  .certifications {
    width: 95%;
  }

  .about-certification h2{
    font-size: 1rem;
  }

  .about-certification p {
    font-size: .75rem;
  }

  .hexagon {
    height: 6rem;
    width: 6rem;
  }

  .double:after {
    top: 10px;
    left: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background: #25252e;
    color: #92A8D1;
    line-height: 4.5rem;
    font-size: 2.5rem;
    font-family: FontAwesome;
  }

  .big {
    height: 15rem;
    width: 15rem;
  }

  .pic:after {
    background-image: url(images/IMG_0058.PNG);
    background-position: center;
    background-size: 105%;
  }

  .tab-header {
    width: 33%;
    font-size: .8rem;
  }

  .skill p, .level p {
    font-size: .75rem;
  }

  .skill {
    width: 25%;
  }

  .level {
    width: 75%;
  }

}
