/* General styles for whole page*/
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.image-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

hr {
  width: 80%;
  margin: auto;
  color: #f5f5f5;
}

/* Main page */
#intro {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#intro h1 {
  color: #fff;
  font-weight: 100;
  font-size: 4rem;
  width: 100%;
  text-align: center;
}

.name {
  color: #92A8D1;
}

/* button */
.wrapper a{
  display: block;
  width: 250px;
  height: 50px;
  font-size: 1rem;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .5s;
  border: 2px solid #fff;
  margin: auto;
  margin-top: 1.5rem;
}

.wrapper a:hover{
  width: 200px;
  border: 3px solid #92A8D1;
  color: #92A8D1;
}

/* Navbar */
#navbar {
  background: #25252e;
  height: 6vh;
  padding-top: 2.5vh;
  width: 95%;
  padding-left: 5%;
  position: sticky;
  top:0;
  z-index: 999;
}

.item {
  color: #fff;
  font-size: 1.05rem;
  text-decoration: none;
  margin: 0 1rem;
  transition: .5s;
  background: transparent;
}

.item:hover {
  color: #92A8D1;
}

/* General styles for each section */
.section {
  width: 100%;
  height: 100vh;
  padding-bottom: 3vh;
}

.header {
  padding: 12vh 0 2vh 0;
  display: table;
  width: 100%;
  background-image: linear-gradient(#2b2d36,#2b2d36);
  background-size: 65px 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 7vh;
}

.header h1 {
  display: table-cell;
  text-align: center;
  color: #2b2d36;
  vertical-align: middle;
}

/* about section */
#about {
  height: 160vh;
}

.certifications {
  height: 50vh;
  width: 75%;
  margin: auto;
  display: flex;
  list-style: none;
}

.certification {
  width: 33.333%;
  height: 50vh;
  text-align: center;
}

.about-certification {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}

.about-certification h2 {
  padding-top: .5rem;
  height: 2rem;
  color: #2b2d36;
}

.about-certification p {
  color: #2b2d36;
  font-size: 1rem;
}

.hexagon {
  position: relative;
  height: 11rem;
  width: 11rem;
  background: #25252e;
  margin: auto;
}

.hexagon:before, .double:after {
  position: absolute;
  content: '';
}

.hexagon, .hexagon:before, .double:after {
  -webkit-clip-path: url(#hexagon-clip);
  clip-path: url(#hexagon-clip);
}

.hexagon:before {
  top: 6px;
  left: 6px;
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  background: #fff;
}

.double:after {
  top: 10px;
  left: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  background: #25252e;
  color: #fff;
  line-height: 9.5rem;
  font-size: 6rem;
  font-family: FontAwesome;
}

.education:after {
  content: "\f19d";
}

.hobbies:after{
  content:"\f007";
}

.team:after {
  content:"\f0c0";
}

.about-general {
  width: 100%;
  margin-top: 2rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.about-me {
  height: 70vh;
  width: 40%;
  position: relative;
  z-index: -1;
}

.about-me img {
  border-radius: 50%;
  width: 22rem;
}

.about-me figcaption {
  margin: auto;
  color: #2b2d36;
  margin-top: 2vh;
  width: 75%;
  font-size: 1rem;
}

.skills {
  height: 70vh;
  width: 40%;
  position: relative;
  z-index: -1;
  display: table;
  border-spacing: 0 2vh;
}

.skill-box {
  font-size: 1rem;
  font-weight: 100;
  height: 1rem;
  color: #2b2d36;
  display: table-row;
  width: 100%;
  background: #f5f5f5;
}

.skill {
  text-align: center;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #25252e;
  width: 20%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.level {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  padding-right: .5vw;
  width: 80%;
  color: #92A8D1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.center-div {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
}

.eighty {
  background: linear-gradient(to right, #92A8D1 80%, #f5f5f5 20%);
}

.sixty {
  background: linear-gradient(to right, #92A8D1 60%, #f5f5f5 40%);
}

.fifty {
  background: linear-gradient(to right, #92A8D1 50%, #f5f5f5 50%);
}

/* projects section */
#projects {
  background: #f5f5f5;
  height: 95vh;
}

.projects-general {
  width: 85%;
  height: 60vh;
  margin: auto;
}

.projects {
  width: 100%;
  list-style: none;
}

.projects li {
  float: left;
  width: 33.33%;
  height: 30vh;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  box-sizing: border-box;
}

.project-one {
  background: url(images/webpage.jpg);
}

.project-two {
  background: url(images/college-finder.JPG);
}

.project-three {
  background: url(images/drone-delivery.jpg);
}

.project-four {
  background: url(images/kent-greek-life.png) #fff;
}

.project-five {
  background: url(images/pong.JPG);
}

.project-six {

}

/* Page Break */
.break {
    height: 7rem;
    display: flex;
    background: #f5f5f5;
}

.left-angle {
  width: 50%;
  background: #2b2d36;
  clip-path: polygon(0 0, 0 100%, calc(100%) 100%, 0 0);
}

.right-angle {
  width: 50%;
  background: #2b2d36;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
}

/* contact section */
#contact {
  height: 100vh;
  background: #2b2d36;
}

#contact .header {
  background-image: linear-gradient(#fff,#fff);
  background-size: 65px 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 7vh;
}

#contact h1 {
   color: #fff;
}

#contact .header-two {
  width: 100%;
  display: table;
}

#contact h2 {
  display: table-cell;
  text-align: center;
  color: #fff;
  height: 10vh;
}

#contact form {
  width: 40%;
  height: 50vh;
  text-align: center;
  margin: auto;
}

#contact form input {
  width: 100%;
  margin: auto;
  margin-bottom: 1vh;
  padding-left: 5px;
  border: none;
  background: #f5f5f5;
}

#contact form .first {
  height: 5vh;
  border-radius: 5px;
}

#contact form .message {
  border-radius: 5px;
  height: 35vh;
  width: 100%;
  text-align: top left;
  background: #f5f5f5;
  border: none;
  padding-top: 8px;
  padding-left: 6px;
}

#contact form .button{
  margin: auto;
  height: 3rem;
  width: 10vw;
  border-radius: 2px;
  background: #f5f5f5;
  border: 3px solid #fff;
  color: #444;
  }

/* footer section */
.footer {
  width: 100%;
  height: 35vh;
  background: #25252e;
  position: relative;
}

.reset {
  position: absolute;
  background: #fff;
  height: 2rem;
  width: 2rem;
  top: -1rem;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
}

.reset i {
  position: absolute;
  color: #92A8D1;
  padding: 8px 9.5px;
}

.all-socials {
  padding-top: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social {
  width: 5rem;
  height: 4.25rem;
  background: #f5f5f5;
  margin: 0 1%;
  text-align: center;
  border-radius: 50%;
}

.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.social i{
  margin-top: .8rem;
  color: #92A8D1;
  font-size: 2.5rem;
}

.trademark {
  width: 100%;
  text-align: center;
}

.trademark p {
  margin-top: 3vh;
  color: #f5f5f5;
}

.trademark p span {
  color: #92A8D1;
}

/* Make About Section Responsive */
@media screen and (max-width: 1050px) {
  .about-general {
    flex-direction: column;
  }

  .certifications {
    height: 40vh;
  }

  .double:after {
    line-height: 3.75rem;
    font-size: 2rem;
  }

  .about-certification h2 {
    font-size: 1rem;
  }

  .about-certification p {
    font-size: .75rem;
  }

  .hexagon {
    height: 5rem;
    width: 5rem;
  }

  .hexagon:before {
    font-size: 3rem;
    line-height: 4.25rem;
  }

  .about-me {
    width: 85%;
    height: 35vh;
    margin: auto;
  }

  .about-me img {
    width: 10rem;
  }

  .skills {
    width: 85%;
    height: 35vh;
    margin: auto;
  }

  .skill-box {
    margin: auto;
    height: 1rem;
    margin-top: 1.5rem;
  }

  .skill {
    padding-top: none;
    font-size: .65rem;
  }

  .level {
    font-size: .65rem;
  }

  #projects {
    height: 75vh;
  }

  .projects-general {
    width: 100%;
  }

  .projects li {
    height: 15vh;
    width: 50%;
  }

  #contact form {
    width: 250px;
  }

  #contact form .button {
    width: 100px;
  }
}
