/* General styles for whole page*/
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* Main page */
#intro {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#intro h1 {
  color: #fff;
  font-weight: 100;
  font-size: 4rem;
  width: 100%;
  text-align: center;
}

.name {
  color: #92A8D1;
}

/* button */
.wrapper a{
  display: block;
  width: 250px;
  height: 50px;
  font-size: 1rem;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .5s;
  border: 2px solid #fff;
  margin: auto;
  margin-top: 1.5rem;
}

.wrapper a:hover{
  width: 200px;
  border: 3px solid #92A8D1;
  color: #92A8D1;
}

/* Navbar */
#navbar {
  background: #25252e;
  height: 6vh;
  padding-top: 2.5vh;
  width: 95%;
  padding-left: 5%;
  position: sticky;
  top:0;
}

.item {
  color: #fff;
  font-size: 1.05rem;
  text-decoration: none;
  margin: 0 1rem;
  transition: .5s;
  background: transparent;
}

.item:hover {
  color: #92A8D1;
}

/* General styles for each section */
.section {
  width: 100%;
  height: 100vh;
  padding-bottom: 3vh;
}

.header {
  padding: 12vh 0 2vh 0;
  display: table;
  width: 100%;
  background-image: linear-gradient(#2b2d36,#2b2d36);
  background-size: 6% 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 10vh;
}

.header h1 {
  display: table-cell;
  text-align: center;
  color: #2b2d36;
  vertical-align: middle;
}

/* about section */
.about-general {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.about-me {
  height: 55vh;
  width: 40%;
  position: relative;
  z-index: -1;
}

.about-me img {
  border-radius: 50%;
  width: 65%;
}

.about-me figcaption {
  margin: auto;
  color: #2b2d36;
  margin-top: 2vh;
  width: 100%;
  font-size: 1rem;
}

.skills {
  height: 55vh;
  width: 40%;
  position: relative;
  z-index: -1;
  display: table;
  border-spacing: .5vw 2vh;
}

.skill-box {
  font-size: 1rem;
  font-weight: 100;
  color: #2b2d36;
  width: 75%;
  display: table-row;
  background: #f5f5f5;
  border-radius: 10px;
}

.skill {
  text-align: center;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: #25252e;
  width: 20%;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.level {
  border-radius: 5px;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  padding-right: .5vw;
  width: 80%;
  color: #92A8D1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.center-div {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 75%;
}

.eighty {
  background: linear-gradient(to right, #92A8D1 80%, #f5f5f5 20%);
}

.sixty {
  background: linear-gradient(to right, #92A8D1 60%, #f5f5f5 40%);
}

.fifty {
  background: linear-gradient(to right, #92A8D1 50%, #f5f5f5 50%);
}

/* Make About Section Responsive */
@media screen and (max-width: 1050px) {
  .about-general {
    flex-direction: column;
  }

  .about-me {
    width: 85%;
    height: 35vh;
    margin: auto;
  }

  .skills {
    width: 85%;
    height: 35vh;
    margin: auto;
  }

  .skill-box {
    margin: auto;
    height: 1rem;
    margin-top: 1.5rem;
  }

  .skill {
    padding-top: none;
    font-size: .65rem;
  }

  .level {
    font-size: .65rem;
  }
}

/* projects section */
#projects {
  background: #f5f5f5;
}

.slides {
  height: 65vh;
  width: 60%;
  margin: auto;
  border-radius: 10px;
}

.slide-one {
  height: inherit;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(images/portfolio.JPG);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 10px;
}

.slide-head {
  width: 100%;
  border: 1px solid black;
}

.slide-head h3 {
  color: #fff;
}

/* contact section */
#contact {
  height: 95vh;
}

#contact .header-two {
  width: 100%;
  display: table;
}

#contact h2 {
  display: table-cell;
  text-align: center;
  color: #2b2d36;
  height: 10vh;
}

#contact form {
  width: 40%;
  height: 50vh;
  text-align: center;
  margin: auto;
}

#contact form input {
  width: 100%;
  margin: auto;
  margin-bottom: 1vh;
  padding-left: 5px;
  border: none;
  background: #f5f5f5;
}

#contact form .first {
  height: 5vh;
}

#contact form .message {
  height: 35vh;
  width: 100%;
  text-align: top left;
  background: #f5f5f5;
  border: none;
  padding-top: 8px;
  padding-left: 6px;
}

#contact form .button{
  margin: auto;
  height: 5vh;
  width: 10vw;
}

/* footer section */
.footer {
  width: 100%;
  height: 35vh;
  background: #2b2d36;
}

.all-socials {
  padding-top: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social {
  width: 5rem;
  height: 4.25rem;
  background: #f5f5f5;
  margin: 0 1%;
  text-align: center;
  border-radius: 50%;
}

.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.social i{
  margin-top: .8rem;
  color: #92A8D1;
  font-size: 2.5rem;"
}

.trademark {
  width: 100%;
  text-align: center;
}

.trademark p {
  margin-top: 2%;
  color: #f5f5f5;
}

.trademark p span {
  color: #92A8D1;
}
